<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="content">
      <div class="navbar">
          <h1>WatchList.com</h1>
        <ul>
          <li><%= link_to "Lists", lists_path %></li>
          <li><%= link_to "Movies", movies_path %></li>
        </ul>
      </div>

        <%= yield %>

    </div>
  </body>
</html>
